{% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}HiEmpleos{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="a agile and fast alternative to emplea.do">
    <meta name="author" content="Leonardo Jimenez">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->

    <link rel="stylesheet" href="https://use.typekit.net/yvc2vrt.css">
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}

      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-MPPL3J77YY"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-MPPL3J77YY');
      </script>

    {% endblock javascript %}

  </head>

  <body class="w-full" style="background-color: #F2F4F7;">
    {% block notification_bar %}
    {% endblock notification_bar %}
    <div class="px-4 md:px-8 w-full" style="background-color: #fff;">
      {% include "menu/off-canvas.html" %}
      
      <nav class="hidden invisible sm:visible sm:flex justify-start sm:justify-between h-20 py-4 container mx-auto items-center">
        <a class="logo" href="{% url 'home' %}"><img class="h-8" src="{% static 'images/website-logo.svg' %}"></a>

        <div class="" id="navbarSupportedContent">
          <ul class="flex">
            <li class="">
              <a class="text-gray-900 font-bold" href="{% url 'home' %}">Empleos <span class="sr-only">(current)</span></a>
            </li>
            <li class="ml-6">
              <a class="text-gray-900 font-bold" href="{% url 'company-list' %}">Compañías <span class="sr-only">(current)</span></a>
            </li>
            
            {% if request.user.is_authenticated %}
              <li class="ml-6">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="text-gray-900 font-bold" href="{% url 'users:detail' request.user.username  %}">Perfil</a>
              </li>
              <li class="ml-6">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="text-gray-900 font-bold" href="{% url 'account_logout' %}">Salir</a>
              </li>
              <li class="ml-6">
                <a style="background-color: #F78C2C; color: white;" class="py-2 px-4 rounded font-bold" href="{% url 'create' %}">Crear Posición</a>
              </li>
            {% else %}    
              <li class="ml-6">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="log-in-link" style="border-color: #F78C2C; color: #F78C2C;" class="text-gray-900 py-1.5 px-3 border-2 rounded font-bold" href="{% url 'account_login' %}">Iniciar Sesión</a>
              </li>
              <li class="ml-6">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="sign-up-link" style="background-color: #F78C2C; color: white;" class="py-2 px-4 rounded font-bold" href="{% url 'account_signup' %}">Registrate</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>

    {% block body %}
    <div class="sm:container sm:mx-auto mx-4 mb-16 mt-6">

      {% if messages %}
          {% for message in messages %}
          
              <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
                <div class="flex">
                  <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                  <div>
                    <p class="font-bold">{{ message }}</p>
                  </div>
                </div>
              </div>
              <br/><br/>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div> <!-- /container -->
    {% endblock body %}
    
    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}
    {# Script tags with only code, no src (defer by default) #}
    {% endblock inline_javascript %}
  </body>
</html>
