{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}


{% block inner %}



{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<!-- <p>{% blocktranslate with site.name as site_name %}Por favor inicia  con una cuenta de un proveedor existente
 o  <a href="{{ signup_url }}">Registrate</a>
for a {{ site_name }} account and sign in below:{% endblocktranslate %}</p> -->
<div class="mx-12">
  <div class="socialaccount_ballot">
    <h1 class="text-2xl text-center">{% translate "Iniciar Sesión" %}</h1>
      {% comment %}
      <div class="block">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </div>
      

      <div class="text-center">{% translate 'o' %}</div>
      {% endcomment %}
    </div>
    

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktranslate %}Si no has creado tu cuenta aun, entonces por favor
    <a href="{{ signup_url }}">registrate</a> first.{% endblocktranslate %}</p>
    {% endif %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.non_field_errors }}

      <div class="fieldWrapper">
        {{ form.login.errors }}
        <label for="{{ form.login.id_for_label }}">Nombre de Usuario</label>
        {{ form.login }}
      </div>
      <div class="fieldWrapper">
        {{ form.password.errors }}
        <label for="{{ form.password.id_for_label }}">Password</label>
        {{ form.password }}
      </div> <br/>

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="fieldWrapper"> {{ form.remember }}
        <a class="inline" href="{% url 'account_reset_password' %}">{% translate "olvidaste tu contraseña?" %}</a>
      </div><br/>
      <button  style="background-color: #F78C2C; color: white;" class="py-2 px-4 rounded" type="submit">{% translate "Inicia Sesión" %}</button>
  </div>
  </form>
</div>
{% endblock %}
