{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Cambio de Contraseña" %}{% endblock %}

{% block inner %}

    <h1>{% translate "Restablecimiento de contraseña" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% translate "Olvidaste tu contraseña? Introduce tu dirección de correo aquí debajo, y te enviaremos un email para que puedas cambiarla." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input style="background-color: #F78C2C; color: white;" class="py-2 px-4 rounded" type="submit" value="{% translate 'Cambiar mi Contraseña' %}" />
    </form>

    <p>{% blocktranslate %}Por favor contactanos si tienes algun problem restableciendo tu contraseña.{% endblocktranslate %}</p>
{% endblock %}
