{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% translate "Cambiar Contraseña" %}{% endblock %}

{% block inner %}
    <h1>{% if token_fail %}{% translate "Token Erroneo" %}{% else %}{% translate "Cambio de Contraseña" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktranslate %}El enlace para cambiar la contraseña era invalido, posiblemente porque ya ha sido utilizado.  Por favor solicita un <a href="{{ passwd_reset_url }}">nuevo enlace para cambiar la contraseña</a>.{% endblocktranslate %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" name="action" value="{% translate 'change password' %}"/>
            </form>
        {% else %}
            <p>{% translate 'Tu contraseña ha sido cambiada.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
