{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Cambiar Contraseña" %}{% endblock %}

{% block inner %}
    <h1>{% translate "Cambiar Contraseña" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button style="background-color: #F78C2C; color: white;" class="py-2 px-4 rounded" type="submit" name="action">{% translate "Cambiar Contraseña" %}</button>
    </form>
{% endblock %}
