{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Verifica tu Correo Electronico" %}{% endblock %}

{% block inner %}
    <h1 class="font-bold mb-4 text-lg">{% translate "Verifica tu correo" %}</h1>

    <p>{% blocktranslate %}
        Hemos enviado un correo electrónico para tu verificación. Haz click en el enlace proporcionado para finalizar el proceso de registro. Comunícate con nosotros a <a style="color: #F78C2C;" class="font-bold" href="mailto:info@codetiger.co">info@codetiger.co</a> si no lo recibes en unos minutos.

        {% endblocktranslate %}</p>

{% endblock %}
