{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Verifica tu Correo Electronico" %}{% endblock %}

{% block inner %}
<h1>{% translate "Verifica tu Correo Electronico" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktranslate %}Esta parte del website requiere que verifiquemos que eres quien dices ser.
    Para este proposito, requerimos que verifiques ser el dueño del correo electrónico asociado a esta cuenta.{% endblocktranslate %}</p>

<p>{% blocktranslate %} Hemos enviado un correo para tu verificación. Por favor haz click en el link dentro del correo. Por favor contactanos si no recibes el correo dentro de unos minutos.{% endblocktranslate %}</p>

<p>{% blocktranslate %}<strong>Nota:</strong> todavia puedes <a href="{{ email_url }}">cambiar tu correo</a>.{% endblocktranslate %}</p>
{% endblock %}
